#rooms-page {
    margin: 10px;
}

#room-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#add-room-btn {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin-left: 10px;
    margin-top: 30px;
}

.room {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.join-btn {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin-left: 10px;
    margin-top: 50px;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left-container {
    width: 45%;
    height: 100%;
    margin: 20px;
}

#user-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-block {
    margin-top: 10px;
    left: 10px;
    margin: 10px;
    width: 95%;
    border: 1px solid black;
}

.user-block-info{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-left: 10px;
}

.ready-status-red {
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
}

.ready-status-green {
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
}

.user-name {
    margin-left: 20px;
}

.user-progress-indicator {
    width: 95%;
    height: 20px;
    /* background-color: lightgreen; */
    margin: 5px;
    border: 1px solid black;
}

.user-progress {
    width: 0%;
    height: 100%;
    background-color: lightgreen;
}

#right-container {
    width: 45%;
    height: 95%;
    margin: 20px;
    border: 1px solid black;
    position: relative;
}

#ready-btn {
    height: 70px;
    width: 200px;
    font-size: 18px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -100px; 
}

#quit-room-btn {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin-left: 10px;
    margin-top: 25px;
}

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin-left: -15px; 
}

#game-timer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
}

#text-container {
    text-align: center;
    margin-top: 45%;
    font-size: 20px;
}

.bg {
    background-color: lightgreen;
}

.finished {
    background-color: green;
}

.nextChar {
    text-decoration: underline;
}